# Archivos binarios o grandes ---------------------------------------- 

*.xlsx
*.pdf
*.zip
*.docx
*.pptx
*.jpeg
*.jpg
*.png

# Info confidencial ---------------------------------------- 

contrapartes
fondos_concursables

# Obsidian ---------------------------------------- 

.obsidian/workspace.json

# Outputs de otros codigos ---------------------------------------- 

*.html
.Rproj.user
*.ipynb