# Archivos binarios o grandes ---------------------------------------- 

*.xlsx
*.pdf
*.zip
*.docx
*.pptx
*.jpeg
*.jpg
*.png

# Info confidencial ---------------------------------------- 

contrapartes

# Outputs de otros codigos ---------------------------------------- 

*.html
.Rproj.user
